body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("https://i.pinimg.com/originals/4e/08/35/4e08352fb58b7c848170e82f3ed08f81.png") no-repeat;
    background-size: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.modal img {
    width: 100%;
    height: auto;
}